# API Gateway
# Servicio de enrutamiento y orquestación de microservicios

PORT=5000
NODE_ENV=development

# Configuración de Microservicios
AUTH_SERVICE_HOST=auth-service
AUTH_SERVICE_PORT=5001

PRODUCT_SERVICE_HOST=product-service
PRODUCT_SERVICE_PORT=5002

ORDER_SERVICE_HOST=order-service
ORDER_SERVICE_PORT=5003

# JWT
JWT_SECRET=tu_secreto_jwt_superSeguro_2026

# Database (compartida)
DB_HOST=mysql
DB_USER=tienda_user
DB_PASS=tienda_pass123
DB_NAME=tienda_db
